$box-shadow-base: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.5);

$gap-base: 20px;
$border-radius-base: 10px;
$border-radius-secondary: 8px;

$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-weight-base: 400;
$font-weight-semi-bold: 600;
$line-height-medium: 120%;
$line-height-large: 140%;